<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="platform" sequenceNumber="10">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="de.fhg.igd.slf4jplus.feature.feature.group" version="1.2.0.201403111309"/>
<repository location="http://hale.igd.fraunhofer.de/jenkins/job/slf4jplus/9/updatesite"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.sdk.ide" version="3.7.2.M20120208-0800"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.7"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="eu.esdihumboldt.hale.platform.feature.group" version="2.9.3"/>
<repository location="http://hale.igd.fraunhofer.de/build-support/e6d01f22b4afc0034c2d0e016db582d385b7f5eb/updatesites/platform"/>
</location>
</locations>
</target>
